<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Roman Lorent">
    <meta name="description" content="This App is using official NASA API which was designed to share image data gathered by NASA's Curiosity, Opportunity, and Spirit rovers on Mars.">
    <link rel="shortcut icon" type="image/png" href="<%= BASE_URL %>favicon.png">
    <title>
        Mars Rover Photo Collection
    </title>
</head>

<body>
    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
            Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>