<template>
  <div class="container">
    <div class="header">
      <h1 class="header__heading">Mars Rover Photos</h1>
      <p class="header__text">
        This App is using official NASA API which was designed to share image data gathered by NASA's Curiosity, Opportunity, and Spirit rovers on Mars.
        <a
          class="standard-link"
          href="https://api.nasa.gov/"
          target="_blank"
        >More info</a>
      </p>
    </div>

    <div class="row">
      <div class="w-12 col">
        <div class="panel">
          <div class="navigation">
            <div class="navigation-tile">
              <a href="#" @click="manifest('curiosity', $event)">
                <img class="navigation-tile__img" src="./../assets/curiosity.jpg" />
              </a>
              <p class="navigation-tile__title">Curiosity</p>
            </div>

            <div class="navigation-tile">
              <a href="#" @click="manifest('opportunity', $event)">
                <img class="navigation-tile__img" src="./../assets/opportunity.jpg" />
              </a>
              <p class="navigation">Opporunity</p>
            </div>

            <div class="navigation-tile">
              <a href="#" @click="manifest('spirit', $event)">
                <img class="navigation-tile__img" src="./../assets/spirit.jpg" />
              </a>
              <p class="navigation-tile__title">Spirit</p>
            </div>
          </div>
        </div>
      </div>

      <div class="w-4 col" v-if="rover">
        <div class="panel">
          <info-loader v-if="loading"></info-loader>
          <div v-else>
            <div class="sol-selector">
              <p class="sol-selector__label">
                Sol
                <span class="sol-selector__sublabel">Martian day or rotation</span>
              </p>

              <text-input
                class="sol-selector__input"
                v-model="sol"
                @change="onChange(); loadingData()"
              />

              <range-slider
                class="sol-selector__slider"
                min="1"
                :max="maxSol"
                step="1"
                v-model="sol"
                @change="onChange(); loadingData()"
              ></range-slider>
            </div>

            <div class="rover-info">
              <p class="rover-info__text">{{launchDate | moment("dddd, MMMM Do YYYY")}}</p>
              <p class="rover-info__label">Launch date</p>
            </div>

            <div class="rover-info">
              <p class="rover-info__text">{{landingDate | moment("dddd, MMMM Do YYYY")}}</p>
              <p class="rover-info__label">Landing date</p>
            </div>

            <div class="rover-info">
              <p class="rover-info__text">{{status | capitalize}}</p>
              <p class="rover-info__label">Status</p>
            </div>
            <div class="rover-info">
              <p class="rover-info__text">{{totalPhotos | capitalize}}</p>
              <p class="rover-info__label">Photos available</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-8 col" v-if="rover">
        <div class="panel">
          <gallery-loader v-if="loading"></gallery-loader>
          <gallery
            v-else
            :sol="sol"
            :rover="rover"
            :cameras="availableCameras"
            :key="sol"
            :loading="loading"
          />
        </div>
      </div>
    </div>
    <div class="footer">
      <p>
        Developed by
        <a
          class="standard-link"
          href="https://rlorent.tech/"
          target="_blank"
        >Roman Lorent</a>
      </p>
    </div>
  </div>
</template>

<script>
import Gallery from "../components/Gallery.vue";
import api from "../service/api.js";
import debounce from "lodash/debounce";
import RangeSlider from "vue-range-slider";
import InfoLoader from "../components/RoverInfoLoader";
import GalleryLoader from "../components/GalleryLoader";

export default {
  name: "Home",
  components: {
    Gallery,
    RangeSlider,
    InfoLoader,
    GalleryLoader
  },
  data() {
    return {
      sol: 1,
      rover: null,
      launchDate: null,
      landingDate: null,
      maxSol: null,
      maxDate: null,
      status: null,
      totalPhotos: null,
      manifestPhotos: [],
      availableCameras: [],
      loading: null
    };
  },

  methods: {
    manifest(rover, event) {
      this.loading = true;
      this.availableCameras = [];
      this.photo_manifest = [];

      this.$el
        .querySelectorAll(".navigation-tile__img")
        .forEach(ele => ele.classList.remove("navigation-tile__img--active"));

      event.target.classList.add("navigation-tile__img--active");

      this.rover = rover;
      api.getManifest(rover).then(res => {
        const { photo_manifest } = res.data;
        this.rover = photo_manifest.name;
        this.landingDate = photo_manifest.landing_date;
        this.launchDate = photo_manifest.launch_date;
        this.maxSol = photo_manifest.max_sol;
        this.status = photo_manifest.status;
        this.manifestPhotos = photo_manifest.photos;
        this.totalPhotos = photo_manifest.total_photos;

        this.filter();

        this.loading = false;
      });
    },

    filter() {
      this.availableCameras = [];
      this.photo_manifest = [];
      let sol = this.manifestPhotos.find(day => day.sol == this.sol);
      this.availableCameras = sol ? sol.cameras : [];
      this.loading = false;
    },

    onChange: debounce(function() {
      this.filter();
    }, 2000),

    loadingData() {
      this.loading = true;
    }
  }
};
</script>

<style lang="scss">
//$slider-height: 20px !default;
$slider-width: 250px;
$rail-color: $main-darken;
$rail-fill-color: $main-darken;
$knob-color: $main;
$knob-border: none;
$knob-shadow: 0px 0px 19px #313131;

@import "vue-range-slider/dist/vue-range-slider.scss";

.container {
  padding: $spacing * 2 $spacing * 2 0 $spacing * 2;
  background-color: $containerBg;
  max-width: 1366px;
  margin: 0 auto;
  display: block;
  border-radius: $borderRadius;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $panelBg;
  border-radius: $borderRadius;
  flex-wrap: wrap;
}

.navigation-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 $spacing;

  &__title {
    margin-bottom: 0.5rem;
  }

  &__img {
    height: auto;
    width: 150px;
    border-radius: $borderRadius;
    display: inline;
    border: 4px solid transparent;

    &--active {
      border: 4px solid $main-darken;
      box-shadow: 0 3px 6px 6px rgba(0, 0, 0, 0.3);
    }
  }
}

.top-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $panelBg;
  border-radius: $borderRadius;
  padding: $spacing;
}

.panel {
  background-color: $panelBg;
  border-radius: $borderRadius;
  padding: $spacing * 2;
  height: 100%;
}

.rover-info {
  margin-bottom: 1rem;
  &__label {
    color: $label;
    font-size: 1.2rem;
  }
}

.sol-selector {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__slider {
    display: block;
  }

  &__input {
    width: auto;
    text-align: center;
  }
  &__sublabel {
    color: $label;
    font-size: 1.2rem;
  }
}

.header {
  padding: 2rem 0;
  &__heading {
    margin-bottom: 2rem;
  }

  &__text {
    margin-bottom: 2rem;
    max-width: 90rem;
  }
}

.footer {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
</style>
