.standard-link {
    text-decoration: underline;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 0%;
    margin-left: -$spacing;
    margin-right: -$spacing;
}

.col {
    padding-left: $spacing;
    padding-right: $spacing;
    padding-bottom: $spacing * 2;
}

.w-4 {
    width: 33.33%;
}

.w-6 {
    width: 50%;
}

.w-8 {
    width: 66.67%;
}

.w-12 {
    width: 100%;
}

@media (max-width: 800px) {
    .row {
        display: block;
    }
    .w-4 {
        width: 100%;
    }
    .w-6 {
        width: 100%;
    }
    .w-8 {
        width: 100%;
    }
}