<template>
  <div class="gallery">
    <v-select
      :options="availableCameras"
      v-model="selected"
      @input="onSelect(selected)"
      placeholder="Select camera"
      class="camera-chooser"
      :searchable="false"
      :clearable="false"
    >
      <template #no-options>There are no cameras available for selected sol</template>
    </v-select>

    <paginate
      v-model="photoNum"
      v-if="photos.length"
      :page-count="photos.length"
      :click-handler="photoSelect"
      :prev-text="'Prev'"
      :next-text="'Next'"
      container-class="pagination"
      page-link-class="pagination__link"
      prev-link-class="pagination__link"
      next-link-class="pagination__link"
      active-class="pagination__link--active"
      disabled-class="pagination__link--disabled"
      :no-li-surround="true"
    ></paginate>
    <div class="selected-photo">
      <transition name="fade">
        <div class="selected-photo__overlay" v-if="loading">
          <font-awesome-icon icon="spinner" class="fa-pulse" size="5x" />
        </div>
      </transition>
      <img class="selected-photo__img" :src="photoSrc" @load="loaded" />
    </div>
  </div>
</template>

<script>
import api from "../service/api.js";
import Paginate from "vuejs-paginate";
import debounce from "lodash/debounce";

export default {
  name: "Gallery",
  props: ["cameras", "rover", "sol"],
  components: {
    Paginate
  },
  data() {
    return {
      selected: "",
      photos: [],
      photoNum: 1,
      photoSrc: "",
      loading: false,
      options: [
        { label: "Front Hazard Avoidance Camera", code: "FHAZ" },
        { label: "Rear Hazard Avoidance Camera", code: "RHAZ" },
        { label: "Mast Camera", code: "MAST" },
        { label: "Chemistry and Camera Complex", code: "CHEMCAM" },
        { label: "Mars Hand Lens Imager", code: "MAHLI" },
        { label: "Mars Descent Imager", code: "MARDI" },
        { label: "Navigation Camera", code: "NAVCAM" },
        { label: "Panoramic Camera", code: "PANCAM" },
        {
          label: "Miniature Thermal Emission Spectrometer (Mini-TES)",
          code: "MINITES"
        }
      ]
    };
  },
  computed: {
    availableCameras() {
      return this.options.filter(option => this.cameras.includes(option.code));
    }
  },
  methods: {
    onSelect(camera) {
      api.getPhotos(this.rover, this.sol, camera.code).then(res => {
        this.photos = res.data.photos;
        this.photoSelect();
      });
    },
    photoSelect(photoNum = 1) {
      this.loading = true;
      this.photoNum = photoNum;
      this.photoSrc = this.photos[photoNum - 1].img_src;
    },

    loaded() {
      this.loading = false;
    }
  }
};
</script>

<style lang="scss" >
$vs-colors: (
  lightest: $gray,
  light: $white,
  dark: $white,
  darkest: rgba(0, 0, 0, 0.15)
);

$vs-component-placeholder-color: $white;

//  Active State
$vs-state-active-bg: $main-darken;

//  Component Controls: Clear, Open Indicator
$vs-controls-color: $white;

//  Dropdown
$vs-dropdown-bg: $gray;

@import "vue-select/src/scss/vue-select.scss";

.gallery {
  display: flex;
  flex-direction: column;
}

.camera-chooser {
  margin-bottom: $spacing * 2;
  cursor: pointer;
  .vs__dropdown-toggle {
    background-color: $gray;
  }
  .vs__dropdown-option {
    color: $white;
  }
}

.selected-photo {
  align-self: center;
  position: relative;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    padding: 5rem 0;
    height: 100%;
    width: 100%;
    background-color: $gray;
    opacity: 0.5;
  }
  &__img {
    border-radius: 5px;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: $spacing !important;

  .pagination__link {
    display: inline-block;
    padding: 0.2rem 1rem;
    margin: 0 0.8rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: $gray;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    outline: none;
    cursor: pointer;

    &--disabled {
      color: $label;
      cursor: not-allowed;
    }

    &--active {
      border-bottom: 4px solid $main-darken;
      cursor: default;
    }
  }
}
</style>