<template>
  <div class="gallery-loader">
    <div class="loader-block">
      <div class="loader-block__main"></div>
      <div class="loader-block__img"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "InfoLoader"
};
</script>

<style lang="scss" scoped>
.gallery-loader {
  min-height: 200px;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to right,
      transparent 0%,
      $panelBg 50%,
      transparent 100%
    );
    animation: load 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    animation-iteration-count: infinite;
  }

  .loader-block {
    margin-bottom: 1.6rem;
    &__main {
      border-radius: 5px;
      background-color: $gray;
      height: 2.5rem;
      max-width: 100%;
      margin-bottom: 2rem;
    }

    &__img {
      border-radius: 5px;
      background-color: $gray;
      height: 200px;
      max-width: 100%;
    }
  }
}

@keyframes load {
  from {
    left: -100%;
  }

  to {
    left: 100%;
  }
}
</style>