<template>
  <div class="input-text">
    <label class="input-text__label" v-if="label" :for="id">{{label}}</label>
    <input
      class="input-text__input"
      :id="id"
      :name="id"
      :type="type"
      :value="value"
      v-bind="$attrs"
      @input="handleInput"
      v-on="getListeners"
    />
  </div>
</template>

<script>
export default {
  name: "TextInput",
  inheritAttrs: false,
  props: {
    value: [String, Number],
    label: String,
    id: String,
    type: {
      type: String,
      default: "text"
    }
  },

  methods: {
    handleInput(e) {
      this.$emit("input", e.target.value);
    }
  },

  computed: {
    getListeners() {
      const { input, ...listeners } = this.$listeners;

      return { ...listeners };
    }
  }
};
</script>

<style lang="scss" scoped>
.input-text {
  display: inline;

  &__label {
    display: block;
  }

  &__input {
    background-color: $gray;
    border: 0;
    border-radius: 5px;
    padding: 0.5rem;
    color: $white;
    width: auto;
    margin-bottom: 1rem;
  }
}
</style>