<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
body {
  background: url("./assets/mars-svgrepo-com.svg") 900px/1500px no-repeat,
    url("./assets/starry-sky-800x533.png") center/cover;

  background-attachment: fixed;
  padding: 5rem 0;
}
</style>
